.header {
  @apply container h-12  flex justify-between items-center px-5 sm:h-24;
  background-color: var(--color-grey-900);
}

.header ul {
  @apply list-none flex items-baseline m-0 p-0;
}

.header li {
  margin: 0 var(--size-3);
}

.header a {
  color: var(--color-grey-100);
  font-size: var(--size-4);
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--color-grey-200);
}

@media (min-width: 768px) {
  .header a {
    font-size: var(--size-5);
  }

  .header li {
    margin: 0 var(--size-4);
  }
}
