.header {
  @apply h-12  flex justify-between items-center px-5 sm:h-24 sm:text-xl;
  background-color: var(--color-grey-900);
}

.header ul {
  @apply list-none flex items-baseline m-0 p-0;
}

.header li {
  @apply my-0 mx-1 sm:mx-4;
}

.header a {
  @apply text-base sm:text-xl;
  color: var(--color-grey-100);
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--color-grey-200);
}
